mygeneratedodd.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en"
   xmlns:sch="http://purl.oclc.org/dsdl/schematron"
   >
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title type="short">Encoding Project</title>
            <title>An encoding of samples from a corpus of three different litterary works, for the last assignment for M2 TNAH's XML-TEI class </title>
            <respStmt>
               <resp>encoded by</resp>
               <name>Anaëlle Martinez</name>
            </respStmt>
         </titleStmt>
         <publicationStmt>
            <p>This ODD file has been generated from the Kafka-Milena correspondence project first. 
               This schema has been customized for encoding a literary corpus consisting of three diverse texts: 
                  Kafka's letters to Milena (to analyze emotional rhetoric), Anouilh's Antigone (to analyse speech acts 
                  and power dynamics), and Barjavel's La Faim du Tigre (to analyse philosophical argumentation). 
                  The schema constrains analytical markup to ensure consistency across the corpus while accommodating 
                  rhetorical features of each text type (personal correspondence, dramatic dialogue, and 
                  philosophical essay) and their analysis.</p>
            <p> 
               Three custom rules are implemented:
               (1) Closed value list for seg/@ana constraining analytical categories 
               (2) Structured content model requiring dateline to contain placeName followed by date(s)
               (3) Schematron constraint ensuring persName/@ref points to existing person/@xml:id declarations
            </p>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from TEI-ALL and customized for a corpus of 3 literary works.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <p> This schema has been generated from letterKafkafinal.xml, which used TEI ALL, for the assignement part three. It has been customized for a better encoding of the corpus.  </p>
         <schemaSpec ident="oddbyexample" start="TEI" 
            ns="http://www.tei-c.org/ns/1.0">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
          
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates"
               include="persName surname forename placeName country settlement eventName birth death geo listPerson listPlace location person place socecStatus nationality occupation"/>
          
           
            <!-- Added after generating the ODD to validate my XML file (forename)-->
            <elementSpec ident="forename" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="surname" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="placeName" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="city"/>
                        <valItem ident="department"/>
                        <valItem ident="village"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="country" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="settlement" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="eventName" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="birth" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="death" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="geo" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPerson" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPlace" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="location" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="person" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="sex" mode="delete"/>
                  <attDef ident="gender" mode="delete"/>
                  <attDef ident="age" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="place" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="domain"/>
                        <valItem ident="region"/>
                        <valItem ident="village"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="socecStatus" mode="change">
               <attList>
                  <attDef ident="scheme" mode="delete"/>
                  <attDef ident="code" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            
            
            <!-- Added elements for Faim Du Tigre -->
            <elementSpec ident="nationality" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            
            <elementSpec ident="occupation" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
                  <attDef ident="code" mode="delete"/>
               </attList>
            </elementSpec>
            
            
            
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.anchoring" type="atts" mode="change">
               <attList>
                  <attDef ident="targetEnd" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" type="atts" mode="change">
               <attList>
                  <attDef ident="scribe" mode="delete"/>
                  <attDef ident="scribeRef" mode="delete"/>
                  <attDef ident="script" mode="delete"/>
                  <attDef ident="scriptRef" mode="delete"/>
                  <attDef ident="medium" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
               include="p corr choice reg orig add unclear name address addrLine date abbr expan ptr note author respStmt resp title publisher pubPlace editor q mentioned measure del num bibl lb pb series term"/>
            <!-- Added 'pb' for page breaks in theatrical texts -->
            
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
           
            <!-- Added after generating the ODD to validate my XML file (Kafka)-->
            <elementSpec ident="editor" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <!-- Closed choice for editor roles -->
                  <attDef ident="role" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="translator"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="corr" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="choice" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
           
            <elementSpec ident="orig" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="add" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="unclear" mode="change">
               <attList>
                  <attDef ident="reason" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="abbreviation"/>
                        <valItem ident="author"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="address" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="addrLine" mode="change">
               <content>
                  <elementRef key="placeName"/>
               </content>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="abbr" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="expan" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ptr" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="next"/>
                        <valItem ident="previous"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <!-- [THEATRE TEXTS] Configuration for page breaks -->
            <elementSpec ident="pb" mode="change">
               <desc>Page break marker, used to indicate pagination in source texts</desc>
               <attList>
                  <attDef ident="n" mode="change" usage="opt">
                     <desc>Page number from the source edition</desc>
                     <datatype>
                        <dataRef key="teidata.word"/>
                     </datatype>
                  </attDef>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            
            <!-- [THEATRE TEXTS] Configuration for line breaks -->
            <elementSpec ident="lb" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            
            <!-- Elements of Faim Du Tigre -->
            <elementSpec ident="series" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            
            <elementSpec ident="term" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
               include="teiHeader fileDesc titleStmt editionStmt edition publicationStmt idno sourceDesc profileDesc langUsage language textClass keywords correspDesc correspAction correspContext availability encodingDesc projectDesc"/>
            
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="URI"/>
                        <valItem ident="wikidata"/>
                        <valItem ident="ISBN"/> <!-- Added after generating the ODD, for the letter Kafka-->
                     </valList>
                  </attDef>
                  
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                 
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="langUsage" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="language" mode="change">
               <attList>
                  <attDef ident="usage" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="correspDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="correspAction" mode="change">
               <attList>
                  <!-- Restrict @type to a closed list -->
                  <attDef ident="type" mode="change">
                     <valList type="closed">
                        <valItem ident="sent"/>
                     </valList>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            
            <elementSpec ident="correspContext" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            
            <!-- Sample 3 La Faim du Tigre elements -->
            
            <elementSpec ident="edition" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            
            <elementSpec ident="textClass" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            
            <elementSpec ident="keywords" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </elementSpec>
            
            
            
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module linking-->
            <moduleRef key="linking" include="seg"/>
            <!--Checking module analysis-->
            <classRef key="att.global.analytic"/>
            <classRef key="att.linguistic"/>
            <moduleRef key="analysis" include="s w"/>
            <elementSpec ident="s" mode="change">
               <attList>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="w" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure"
               include="TEI text body div byline dateline opener closer salute docAuthor docDate signed"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <content>
                  <elementRef key="body"/>
               </content>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            
            <elementSpec ident="body" mode="change">
               <desc>[Note Change!] Body element needs an @xml:lang and must allow opener, paragraphs, and closer for letter encoding.</desc>
               <content>
                  <sequence>
                     <elementRef key="opener" minOccurs="0" maxOccurs="1"/>
                     <alternate minOccurs="0" maxOccurs="unbounded">
                        <elementRef key="div"/>
                        <elementRef key="pb"/>
                        <elementRef key="p"/>
                     </alternate>
                     <elementRef key="closer" minOccurs="0" maxOccurs="1"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="xml:lang" mode="change" usage="req">
                     <desc>Language code, required for body element</desc>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            
            
            <elementSpec ident="div" mode="change">
               <content>
                  <alternate minOccurs="0" maxOccurs="unbounded">
                     <classRef key="model.divLike"/>
                     <classRef key="model.common"/>
                     <elementRef key="sp"/>
                     <elementRef key="pb"/>
                     <elementRef key="p"/>
                  </alternate>
               </content>
               <attList>
                  <attDef ident="sample" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="complete"/>
                     </valList>
                  </attDef>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
           
            <!--Added after generating the ODD to validate XML file-->
            <elementSpec ident="signed" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
           
            
            
            <elementSpec ident="byline" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
           
            <elementSpec ident="opener" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="closer" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="salute" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="docAuthor" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="docDate" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module corpus-->
            <moduleRef key="corpus" include="particDesc settingDesc"/>
            <elementSpec ident="particDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="settingDesc" mode="change">
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            
            <!-- RULE 1 : @ana on <seg> with closed list of values -->
            <elementSpec ident="seg" mode="change" module="linking">
               <desc>
                  [Note Change!] Segment element used for analytical markup in both letters and theatrical texts.
                  FOR LETTERS (Kafka): Used @ana to mark analytically interesting passages with values like 'explanation', 'personification', 'paradox', etc.
                  FOR THEATRE (Antigone): 'imperative', 'rhetorical_question', 'declaration', etc.
                  FOR ESSAY (FaimDuTigre): 'biological_determinism', 'human_exceptionalism','empirical_evidence' and 'irony'
               </desc>
               
               
               
               <attList>
                  <attDef ident="ana" mode="change" usage="opt">
                     <desc>Analytical categories for both letter and theatrical analysis.</desc>
                     <datatype>
                        <dataRef key="teidata.enumerated"/>
                     </datatype>
                     <valList type="closed">
                        <!-- Kafka letter analysis -->
                        <valItem ident="explanation">
                           <desc>Segments where Kafka explicitly explains or clarifies a feeling, situation or idea.</desc>
                        </valItem>
                        <valItem ident="personification">
                           <desc>Segments where abstract entities (for example fear) are treated as if they had agency.</desc>
                        </valItem>
                        <valItem ident="paradox">
                           <desc>Segments built around an apparent contradiction or tension between two statements.</desc>
                        </valItem>
                        <valItem ident="isolation">
                           <desc>Segments emphasising solitude, lack of support, or being cut off from others.</desc>
                        </valItem>
                        <valItem ident="realisation">
                           <desc>Segments where Kafka formulates or acknowledges a new insight about himself or Milena.</desc>
                        </valItem>
                        <valItem ident="universalisation">
                           <desc>Segments where Kafka generalises his fear or experience into a broader reflection.</desc>
                        </valItem>
                        <valItem ident="relief">
                           <desc>Segments expressing relief or a temporary easing of anxiety, for example through writing.</desc>
                        </valItem>
                        
                        <!-- Antigone act -->
                        <valItem ident="imperative">
                           <desc>Command or imperative speech act</desc>
                        </valItem>
                        <valItem ident="rhetorical_question">
                           <desc>Question not expecting a genuine answer</desc>
                        </valItem>
                        <valItem ident="declaration">
                           <desc>Statement or declaration of intent/fact</desc>
                        </valItem>
                        <valItem ident="interjection">
                           <desc>Exclamation or emotional outburst</desc>
                        </valItem>
                        <valItem ident="insult">
                           <desc>Insulting or degrading language</desc>
                        </valItem>
                        <valItem ident="physical_description">
                           <desc>Description of physical actions or appearance</desc>
                        </valItem>
                     
                  
                  
                  <!-- Philosophical essay -->
                        <valItem ident="biological_determinism">
                           <desc>Segments asserting that behavior is determined by biological instinct or natural drives, without conscious reasoning.
                           </desc>
                  </valItem>
                        <valItem ident="human_exceptionalism">
                           <desc> Segments claiming that humans are exceptional or distinct from animals due to consciousness, reasoning, or causal understanding.</desc>
                  </valItem>
                        <valItem ident="empirical_evidence">
                           <desc> Segments providing observable facts or examples to support the argument about animal or human behavior.</desc>
                  </valItem>
                  
                        <valItem ident="irony">
                           <desc> Segments where the author uses irony.</desc>
                        </valItem>
                  </valList>
                  </attDef>
                  
                  
                  <!-- Other inherited attributes from att.segLike and att.global -->
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
               
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <!-- Example from Kafka letter -->
                     <s><seg ana="personification">It really is stronger than I am, it tosses me around at will, I don't know up from down anymore or right from left.</seg></s>
                  </egXML>
               </exemplum>
               
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <!-- Example from Antigone -->
                     <persName>CRÉON</persName>
                     <seg ana="imperative">Vas-tu te taire, enfin, bon Dieu ?</seg>
                  </egXML>
               </exemplum>
               
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <!-- Example from Barjavel -->
                     <seg ana="irony">Quant aux hommes dits civilisés</seg> qui savent pertinemment que le sexe est l'instrument de la reproduction...
                  </egXML>
               </exemplum>
               
               
            </elementSpec>
            
            <!-- RULE 2 : content model de <dateline> -->
            <elementSpec ident="dateline" mode="change" module="textstructure">
               <desc>[Note Change!] In the Kafka–Milena correspondence, each letter begins
                  with a dateline that combines place and date information. In our project,
                  <gi>dateline</gi> must always contain a <gi>placeName</gi> followed by one
                  or more <gi>date</gi> elements, in that order.</desc>
               <content>
                  <sequence>
                     <elementRef key="placeName"/>
                     <elementRef key="date" minOccurs="1" maxOccurs="unbounded"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <opener>
                        <dateline>
                           <placeName>Prague</placeName>
                           <date when="1920-07-15">July 15, 1920</date>
                           <date>Thursday</date>
                        </dateline>
                     </opener>
                  </egXML>
               </exemplum>
            </elementSpec>
            <!-- RULE 3 : persName/@ref integrity constraint  -->
            <elementSpec ident="persName" mode="change" module="namesdates">
               <constraintSpec ident="persNameRefConstraint"
                  scheme="schematron">
                  <desc>[Note Change!] This Schematron rule checks the consistency of
                     references between the text and the header: any <gi>persName</gi>
                     element with a <att>ref</att> attribute must point to an existing
                     <gi>person</gi> in <gi>listPerson</gi> via <att>xml:id</att>.</desc>
                  
                
                  
                  <constraint>
                     <sch:pattern id="persName-ref-targets-person">
                        <sch:rule context="*:persName[@ref]">
                           <sch:assert test="id(substring(@ref,2))">
                              The @ref attribute on persName must point (without the leading #)
                              to an existing person/@xml:id in the header.
                              
                           </sch:assert>
                        </sch:rule>
                     </sch:pattern>
                    
                  </constraint>
                  
               </constraintSpec>
              
               
               <attList>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            
            </elementSpec>
            
         </schemaSpec>
      </body>
   </text>
</TEI>
